---
application: health-inspector
framework: sinatra
dependencies:
  - pg
  - redis
services:
  postgres:
    name: 'PostgreSql'
    config:
      adapter: postgresql
      host: localhost
      username: postgres
      database: media_vision_dev
      password:

  redis:
    name: 'RedisServer'
    config:
      host: 'localhost'
      port: 6379
      db: 10
